// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// Colors Variables
$primary: #3D8FA0;
$secondary: #058FA5;
$tertiary: #105A73;
$info: #B6FFF6;


//Font sizes
$font-size-base:1rem; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 3.375;
$h2-font-size: $font-size-base * 2.75;
$h3-font-size: $font-size-base * 2.125;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.25;
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

/* Headers */
.header-bg-img{
  background: url("../images/header-bg.png") no-repeat center center / cover;
}
.header-home-bg-img{
  background: url("../images/header-home-bg-img.png") no-repeat center center / cover;
}
// Custom Colors
.alt-primary { color: #0090A2 }
.alt-text { color: #4C4C4C }
body{ color: #4C4C4C; }

/* Utilities */
.fs-14{ font-size: $font-size-base * 0.875; } 
.p-025 {
  padding: 0.25rem;
}
.min-height-200{
  min-height: 200px;
}
  //Sizing
  .md-mw-75 {max-width: 75%}

/* Colors */
.mio-bg-gradient{
  background: rgb(182,255,246);
  background: radial-gradient(ellipse at 50% 100%, rgba(182,255,246,.7) 0%, rgba(255,255,255,1) 47%);
}

/* Carousels */
.carousel-indicators{
  bottom: -60px;
}

/* Botones */
.btn:hover:not(.btn-link){
  background: $tertiary;
  color: white;
}

/* Páginas */
/* Homepage */
.icon-text-box{
  * {transition: all ease-in-out .2s;}
  .icon-wrapper{
    width: 104px;
    height: 104px;
    border-radius: 5px;
  }
  .sistemas-bancarios{background: url("../images/sistemas-bancarios.svg") no-repeat center center / 60px;}
  .analisis-de-datos{background: url("../images/analisis-de-datos.svg") no-repeat center center / 60px;}
  .comunicacion-y-notificaciones{background: url("../images/comunicacion-y-notificaciones.svg") no-repeat center center / 60px;}
  .operaciones-en-linea{background: url("../images/operaciones-en-linea.svg") no-repeat center center / 60px;}
  .ventas-y-automatizacion{background: url("../images/ventas-y-automatizacion.svg") no-repeat center center / 60px;}
  h3{
    color: black;
  }
}

.icon-text-box:hover, .active .icon-text-box{
  .sistemas-bancarios{background: url("../images/sistemas-bancarios-hover.svg") no-repeat center center / 60px;}
  .analisis-de-datos{background: url("../images/analisis-de-datos-hover.svg") no-repeat center center / 60px;}
  .comunicacion-y-notificaciones{background: url("../images/comunicacion-y-notificaciones-hover.svg") no-repeat center center / 60px;}
  .operaciones-en-linea{background: url("../images/operaciones-en-linea-hover.svg") no-repeat center center / 60px;}
  .ventas-y-automatizacion{background: url("../images/ventas-y-automatizacion-hover.svg") no-repeat center center / 60px;}
  .icon-wrapper{
    background-color: $primary;
  }
  h3{
    color: $primary;
  }
}

@import "../css/custom-styles.css";