// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// Colors Variables
$primary: #3D8FA0;
$secondary: #058FA5;
$tertiary: #105A73;
$info: #B6FFF6;


//Font sizes
$font-size-base:1rem; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 3.375;
$h2-font-size: $font-size-base * 2.75;
$h3-font-size: $font-size-base * 2.125;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.25;
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

/* Headers */
.header-bg-img{
  background-color: $primary;
  background-image: url("../images/bg-hero-left.png"), url("../images/bg-hero-right.png");
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}
.header-home-bg-img{
  background: url("../images/header-home-bg-img.png") no-repeat center center / cover;
}
// Custom Colors
.alt-primary { color: #0090A2 }
.alt-text { color: #4C4C4C }
body{ color: #4C4C4C; }
.light-grey{ color :#BDCCD4 }


/* Utilities */
.fs-14{ font-size: $font-size-base * 0.875; } 
.p-025 {
  padding: 0.25rem;
}
.min-height-200{
  min-height: 200px;
}
  //Sizing
  .md-mw-75 {max-width: 75%}

/* Colors */
.mio-bg-gradient{
  background: rgb(182,255,246);
  background: radial-gradient(ellipse at 50% 100%, rgba(182,255,246,.7) 0%, rgba(255,255,255,1) 47%);
}
.bg-light-primary{background-color:#EEF2F4}

// Carousel
.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 20px;
    flex: 0 0 18%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}




/* Botones */
.btn:hover:not(.btn-link){
  background: $tertiary;
  color: white;
}


/* Accordions */
.accordion-item {
  border-radius:var(--bs-accordion-inner-border-radius);
  margin-bottom: 16px;
}
.accordion-item:not(:first-of-type){
  border:var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-header,
.accordion-button {
  background: transparent !important;
}
.accordion-button {
  font-weight: 600;
  color:var(--bs-primary) !important;
}


/* =========================== Páginas ============================== */
// Homepage 
.icon-text-box{
  * {transition: all ease-in-out .2s;}
  .icon-wrapper{
    width: 104px;
    height: 104px;
    border-radius: 5px;
  }
  .sistemas-bancarios{background: url("../images/sistemas-bancarios.svg") no-repeat center center / 60px;}
  .analisis-de-datos{background: url("../images/analisis-de-datos.svg") no-repeat center center / 60px;}
  .comunicacion-y-notificaciones{background: url("../images/comunicacion-y-notificaciones.svg") no-repeat center center / 60px;}
  .operaciones-en-linea{background: url("../images/operaciones-en-linea.svg") no-repeat center center / 60px;}
  .ventas-y-automatizacion{background: url("../images/ventas-y-automatizacion.svg") no-repeat center center / 60px;}
  h3{
    color: black;
  }
}

.icon-text-box:hover, .active .icon-text-box{
  .sistemas-bancarios{background: url("../images/sistemas-bancarios-hover.svg") no-repeat center center / 60px;}
  .analisis-de-datos{background: url("../images/analisis-de-datos-hover.svg") no-repeat center center / 60px;}
  .comunicacion-y-notificaciones{background: url("../images/comunicacion-y-notificaciones-hover.svg") no-repeat center center / 60px;}
  .operaciones-en-linea{background: url("../images/operaciones-en-linea-hover.svg") no-repeat center center / 60px;}
  .ventas-y-automatizacion{background: url("../images/ventas-y-automatizacion-hover.svg") no-repeat center center / 60px;}
  .icon-wrapper{
    background-color: $primary;
  }
  h3{
    color: $primary;
  }
}

.pr-bg{
  background: url("../images/pr-bg.webp") no-repeat center center / cover;
}

// Responsive Tabs

.responsive-tabs {
  padding: 1rem;
}

.responsive-tabs .nav-tabs {
  display: none;
}

@media (min-width: 768px) {
  .responsive-tabs .nav-tabs {
      display: flex;
  }

  .responsive-tabs .card {
      border: none;
  }

  .responsive-tabs .card .card-header {
      display: none;
  }

  .responsive-tabs .card .collapse {
      display: block;
  }
}

@media (max-width: 767px) {
  .responsive-tabs .tab-pane {
      display: block !important;
      opacity: 1;
  }
}
@media (max-width: 570px) {
  .icon-text-box{
    .icon-wrapper{
      width: 50px;
      height: 50px;
    }
    .sistemas-bancarios{background: url("../images/sistemas-bancarios.svg") no-repeat center center / 30px;}
    .analisis-de-datos{background: url("../images/analisis-de-datos.svg") no-repeat center center / 30px;}
    .comunicacion-y-notificaciones{background: url("../images/comunicacion-y-notificaciones.svg") no-repeat center center / 30px;}
    .operaciones-en-linea{background: url("../images/operaciones-en-linea.svg") no-repeat center center / 30px;}
    .ventas-y-automatizacion{background: url("../images/ventas-y-automatizacion.svg") no-repeat center center / 30px;}
  }

  .icon-text-box:hover, .active .icon-text-box{
    .sistemas-bancarios{background: url("../images/sistemas-bancarios-hover.svg") no-repeat center center / 30px;}
    .analisis-de-datos{background: url("../images/analisis-de-datos-hover.svg") no-repeat center center / 30px;}
    .comunicacion-y-notificaciones{background: url("../images/comunicacion-y-notificaciones-hover.svg") no-repeat center center / 30px;}
    .operaciones-en-linea{background: url("../images/operaciones-en-linea-hover.svg") no-repeat center center / 30px;}
    .ventas-y-automatizacion{background: url("../images/ventas-y-automatizacion-hover.svg") no-repeat center center / 30px;}
    .icon-wrapper{
      background-color: $primary;
    }
  }

}

// END Responsive Tabs

// OnBase

.mw-930 { /* Max width */
  max-width: 930px;
}

//======================= Funciones ===========================

@media (max-width: 575px) {
  //  Scroll horizontsl para tarjetas en móvil*/
  #mobile-side-scroll {
    display: grid !important;
    grid-auto-flow: column !important;
    overflow: auto hidden !important;
    scroll-padding: 0px 20px;
    padding-left:20px;
    padding-right:20px;
    scroll-snap-type: x mandatory !important;
    gap: 16px !important;
    grid-auto-columns: calc(100% - 72px) !important;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  // Crea un bloque adicional para que se muestre bien el scroll 
  #mobile-side-scroll:last-child::after {
      content:'';
      display:block;
      max-width:5px;
  } 
    
  // hide scrollbar but allow scrolling
  #mobile-side-scrolls::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
  }

  // Permite que las cajas/columnas caigan en lugar al hacer scroll
  #mobile-side-scroll:nth-child(n) > * {
      scroll-snap-align: start !important;
  }
}
//================================= Final de funciones


@import "../css/custom-styles.css";